/target/
/src/main/resources/bookStack/
/src/main/resources/themes/
/src/main/resources/ambienceSfx/
/src/main/resources/commentaries/
/nlser/
/venv/
/nlsVectors.json
/build/
src/main/resources/files/books/
/nlsEngine/nlsVectors.json
/nlsEngine/nlsVectorsKJV.json
/nlsEngine/nlsDeepSearch.exe
/src/main/userFiles