/target/
/src/main/resources/bookStack/
/src/main/resources/themes/
/src/main/resources/ambienceSfx/
/src/main/resources/commentaries/
/nlser/
/venv/
/nlsVectors.json
/nlsVectors.txt
/build/
src/main/resources/files/books/